{% extends 'shared/base.html' %}

{% block content %}
    <section id="categories">

    </section>


    <section id="category-actions" style="display:flex;">
        <form action="{% url 'aromableapp:categories' category.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'aromableapp:categories' category.id %}" method="GET">
                <!-- <form action="{% url 'libraryapp:book_edit_form' category.id %}" method="GET"> -->
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
{% endblock %}