{% extends 'shared/base.html' %}

{% block content %}
    <h1>Enter a category</h1>

    {% if category.id is not None %}
        <form action="{% url 'aromableapp:category' category.id %}" method="post">
    {% else %}
        <form action="{% url 'aromableapp:categories' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ category.name }}">
        </fieldset>
        <!-- <fieldset>
            <label for="notes">Notes:</label>
            <input id="notes" type="text" name="notes" value="{{ category.notes }}">
        </fieldset> -->

        {% if category.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>

{% endblock %}