{% extends 'shared/base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/categorylist.css' %}"  />
{% endblock %}

{% block content %}

{% load static %}
<img src="{% static 'images/categorylist.png' %}"
style="width:auto;
height:150px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: block;"  >

<br>
<div class = "addoildiv main-content">
<div class="addcategory">
    <a class="addcategorytext" href="{% url 'aromableapp:category_form' %}">Add Category</a>
</div>



    <ol>
    {% for category in all_categories %}
        <li class="oillistdesign">
            <a class="categoryname">
            <!-- <a class="categoryname" href="{% url 'aromableapp:category' category.id %}"> -->

                {{ category.name }}
            </a>
            <!-- ({{ category.notes }}) -->
            <ul>


            </ul>


            <section id="category-actions" >

                    <form action="{% url 'aromableapp:category' category.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button class="btn btn-secondary category">Delete</button>
                    </form>

                    <form action="{% url 'aromableapp:category_edit_form' category.id %}" method="GET">
                        {% csrf_token %}
                        <button class="btn btn-secondary category" >Edit</button>
                    </form>
                </section>


                </li>

    {% endfor %}
</ol>
</div>
{% endblock %}