{% extends 'shared/base.html' %}

{% block content %}
    <h1>Categories</h1>

    <a href="{% url 'aromableapp:category_form' %}">Add Oil</a>

    <ol>
    {% for category in all_categories %}
        <li>
            <a href="{% url 'aromableapp:category' category.id %}">
                {{ category.name }}
            </a>
            <!-- ({{ category.notes }}) -->
            <ul>



            </ul>
            <section id="category-actions" style="display:flex;">
                    <form action="{% url 'aromableapp:category' category.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button>Delete</button>
                    </form>

                    <form action="{% url 'aromableapp:category_edit_form' category.id %}" method="GET">
                        {% csrf_token %}
                        <button>Edit</button>
                    </form>
                </section>
        </li>
    {% endfor %}
    </ol>
{% endblock %}



def create_recipe(cursor, row):
    _row = sqlite3.Row(cursor, row)

    recipe = Recipe()
    recipe.id = _row["recipe_id"]
    recipe.name = _row["name"]
    recipe.notes = _row["notes"]

    # recipe.category_id = _row["category_id"]
    # recipe.user_id = _row["user_id"]
    # recipe.ingredients = []
    # library.books = []
    recipe.categories = []

    ingredient = Ingredient()
    ingredient.id = _row["ingredient_id"]
    ingredient.name = _row["ingredient_name"]
    ingredient.notes = _row["notes"]

    recipeingredient = RecipeIngredient()
    recipeingredient.id = _row["recipeingredient_id"]
    # recipeingredient.quantity = _row["quantity"]
    recipeingredient.ingredient_id = _row["ingredient_id"]
    # recipeingredient.recipe_id = _row["recipe_id"]

    category = Category()
    category.id = _row["category_id"]
    category.name = _row["category_name"]


    recipe.ingredient = ingredient
    recipe.category = category

    return recipe
