{% extends 'shared/base.html' %}

{% block content %}

{% load static %}
<img src="{% static 'images/categorylist.png' %}"
style="width:auto;
height:100px;
margin-bottom:30px;
margin-left: auto;
margin-right: auto;"  >

<br>
    <!-- <h1>Categories</h1> -->

    <a href="{% url 'aromableapp:category_form' %}">Add Category</a>

    <ol>
    {% for category in all_categories %}
        <li>
            <a href="{% url 'aromableapp:category' category.id %}">
                {{ category.name }}
            </a>
            <!-- ({{ category.notes }}) -->
            <ul>



            </ul>
            <section id="category-actions" style="display:flex;">
                    <form action="{% url 'aromableapp:category' category.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button>Delete</button>
                    </form>

                    <form action="{% url 'aromableapp:category_edit_form' category.id %}" method="GET">
                        {% csrf_token %}
                        <button>Edit</button>
                    </form>
                </section>
        </li>
    {% endfor %}
    </ol>
{% endblock %}