{% extends 'shared/base.html' %}


{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/favoritelist.css' %}"  />
{% endblock %}


{% block content %}

{% load static %}
<img class="favorites" src="{% static 'images/favorites.png' %}"
style="width:auto;
height:130px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: block;"  >
<br>

    <!-- <h1>Favorites</h1> -->
<div class="favoritediv" >
    <ul >
    {% for favorite in all_favorites %}

      <a class="favoritelist" href="{% url 'aromableapp:recipe' favorite.recipe_id %}">{{favorite.recipe.name }}</a> <br>

    {% endfor %}
    </ul>
  </div>

  </body>
</html>
{% endblock content%}