{% extends 'shared/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" class="homeimage" />
{% endblock %}

{% block content %}
<!-- <h1>Aromable</h1> -->

{% load static %}
<img src="{% static 'images/aromablelogo.png' %}" style="width:auto;height:300px;margin-bottom:30px;display:block;
margin-left: auto;
margin-right: auto;"  >


<h4 style="text-align:center;padding:20px;">Hi {{ user.first_name }}!</h4> <br>

<div class="homebuttons">

<a class="btn btn-secondary home" href="{% url 'aromableapp:recipe_form' %}">Add Recipe</a><br>
<a class="btn btn-secondary home" href="{% url 'aromableapp:ingredient_form' %}">Add Oil</a><br>
<a class="btn btn-secondary home" href="{% url 'aromableapp:ingredients' %}">View Oil Inventory</a><br>
<a class="btn btn-secondary home" href="{% url 'aromableapp:recipes' %}">View Recipes</a>

{% endblock content %}
</div>

