{% extends 'shared/base.html' %}

{% block content %}
    <section id="recipe-details">
        <h1>Recipe Name: {{ recipe.name}}</h1>
        <h5>Recipe Notes: {{ recipe.notes }}</h5>
        <h5>Category: {{ recipe.category.name }}</h5>

        <h5>Oil(s): {{ recipe.ingredient.name}}</h5>

        <!-- <ul style="list-style-type:none">
            {% for recipeingredient in recipe.ingredient_list.all %}
                <li>Oil List: {{ recipeingredient.ingredient.name}}</li>
            {% endfor %}
        </ul> -->


        <!-- <div value="{{ recipe.category.id }}">Category: {{ recipe.category.name }}</div> -->

    </section>


    <section id="recipe-actions" style="display:flex;">
        <form action="{% url 'aromableapp:recipe' recipe.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'aromableapp:recipe_edit_form' recipe.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
{% endblock %}