{% extends 'shared/base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/recipeform.css' %}"  />
{% endblock %}

{% block content %}

{% load static %}
<img src="{% static 'images/addrecipe.png' %}" style="width:auto;height:150px;margin-bottom:30px;display:block;
margin-left: auto;
margin-right: auto;"  >




{% if recipe.id is not None %}
<form action="{% url 'aromableapp:recipe' recipe.id %}" method="post">
  {% else %}
  <form action="{% url 'aromableapp:recipes' %}" method="post">
    {% endif %}
    {% csrf_token %}


    <div class="form-group insideformdiv">
    <fieldset>
      <label for="name"> </label>
      <input class="form-control" id="name" type="text" name="name" placeholder="Name of Recipe" value="{{ recipe.name }}" />
    </fieldset>
    <fieldset>
      <label for="notes"></label>
      <input class="form-control" id="notes" type="text" name="notes" placeholder="Recipe Notes" value="{{ recipe.notes }}" />
    </fieldset>
    <fieldset>
      <label for="exampleSelect1 category">Category </label>
      <select class="form-control recipedropdown" id="exampleSelect1 category" type="text" name="category">

        {% for category in all_categories%}
        <option value="{{ category.id }}"> {{ category.name }}</option>
        {% endfor %}
      </select>
    </fieldset>

    <fieldset>
      <label class="oilscheckboxlabel" for="ingredient">Oils: </label>

      {% for ingredient in all_ingredients%}
      <input
        type="checkbox"
        id="ingredient{{ ingredient.id }}"
        name="ingredient[]"
        value="{{ ingredient.id }}"
      />
      {{ ingredient.name }}
      {% endfor %}
    </fieldset>


    <div class="buttonoil2">

    {% if recipe.id is not None %}
    <input type="hidden" name="actual_method" value="PUT" />
    <input type="submit" value="Update" class="ingredientoil" />
    {% else %}
    <input type="submit" value="Add Recipe" class="ingredientoil" />
    {% endif %}
  </form>

  {% endblock %}
</div>
</div>
</form>
