{% extends 'shared/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/recipelist.css' %}"  />
{% endblock %}

{% block content %}

{% load static %}
<img src="{% static 'images/recipelist.png' %}"
style="width:auto;
height:95px;
margin-bottom:10px;
margin-left: auto;
margin-right: auto;"  >



    <!-- <h1>Recipes</h1> -->
<br>
<div class="addrecipediv"></div>
    <a class="addrecipe" href="{% url 'aromableapp:recipe_form' %}">Add Oil Blend</a>

    <ol>
    {% for recipe in all_recipes %}

        <li >
            <a class="recipename" href="{% url 'aromableapp:recipe' recipe.id %}">{{ recipe.name }}</a>
            <br><ul class="catnotes" >Category: {{ recipe.category.name }}</ul>  <br>
        </li>

    {% endfor %}


    <!-- <div><a href="{% url 'aromableapp:home' %}">Go Back</a></div> -->
    </ol>

{% endblock %}

