{% extends 'shared/base.html' %}

{% block content %}
    <section id="ingredients">
            <h5>Name: {{ ingredient.name }}</h5>
            <h6>Notes: {{ ingredient.notes }}</h6>

    </section>


    <section id="ingredient-actions" style="display:flex;">
        <form action="{% url 'aromableapp:ingredient' ingredient.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'aromableapp:ingredient_edit_form' ingredient.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
{% endblock %}