{% extends 'shared/base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/ingredientlist.css' %}"  />
{% endblock %}


{% block content %}

{% load static %}
<img src="{% static 'images/oillist.png' %}"
style="width:auto;
height:150px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: block;"  >

<br>
<div class = "addoildiv main-content">
<div class="addoil ">
    <a class="addoiltext" href="{% url 'aromableapp:ingredient_form' %}">Add Oil</a>
</div>


    <ol>
    {% for ingredient in all_ingredients %}
        <li class="oillistdesign">
            <!-- <a class="oilname" href="{% url 'aromableapp:ingredient' ingredient.id %}"> -->
            <a class="oilname" >

                {{ ingredient.name }}
            </a>
            <!-- ({{ ingredient.notes }}) -->
            <ul>

                <li class="oilnotes">{{ ingredient.notes }}</li>

            </ul>
            <div class="pleasework">
            <section id="ingredient-actions" style="display:flex;">
                    <form class="ingredient-actions2" action="{% url 'aromableapp:ingredient' ingredient.id %}" method="POST">
                        {% csrf_token %}
                        <input  type="hidden" name="actual_method" value="DELETE">
                        <button class="btn btn-secondary oil buttons" >Delete</button>
                    </form>

                    <form action="{% url 'aromableapp:ingredient_edit_form' ingredient.id %}" method="GET">
                        {% csrf_token %}
                        <button  class="btn btn-secondary oil buttons" >Edit</button>
                    </form>
                </section>
            </div>
        </li>
    {% endfor %}
    </ol>
</div>

{% endblock %}