.oil {
margin: 3px;
background-color:#1F5673;
color:#F1F7EE;
text-decoration: none;
font-size: 14px;
border-radius: 8px;
margin-bottom: 8px;
margin-top: 5px;
width: 75px;
height: 35px;
justify-content: center;
position: relative;
}

.addoil {
    padding-bottom: 50px ;
    /* padding-top: 20px; */
    text-align: center;
}

.addoiltext{
    color: #F1F7EE;
    background: #e07a5f;
    border-radius: 10px;
    font-size: 25px;
    /* margin: 20px; */
    padding: 10px 100px;
    /* margin-left: 45px; */
}

ol {
    padding-top: 30px;
}



.oilnotes {
    color: #89B6A5;

}

.oilname {
    color: #222222;

}

.oillistdesign {
    background-color: #F1F7EE;
    list-style-position:inside;
    border: 1px dotted #222222;
    width: 500px;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 20px;


}

#ingredient-actions {
    margin-top: 30px;
    display: flex;
  justify-content: center; /*buttons*/
}

.addoildiv {
    width: auto;
    height: auto; /* Or whatever */
    margin: auto; /* Magic! */
    display: block;
}


ol {
    padding-inline-start: 0px !important;

}


