.redetail {
    margin: 3px;


vertical-align: middle;
background-color:#1F5673;

  color:#F1F7EE;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* .recipe-details {
  margin-bottom: 200px;
} */

